.cmp-content {

    /* Reset the margins for the first and last child elements */
    >* {
        &:first-child {
            margin-top: 0 !important;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }
    }

    /* Images and captions */
    .wp-block-image {
        margin: 30px 0;
    }

    .wp-element-caption {
        font-weight: 500;
        font-size: 16px;
        margin-top: 10px;
    }

    /* Links */
    a {
        color: #3c79ff;
        text-decoration: none;
        @include link_hover(0.7); // Example of using a mixin for the hover effect
        font-size: 13px;
    }

    /* Blockquotes */
    blockquote {
        border-left: 4px solid #3c79ff;
        padding: 0px 14px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-style: italic;

        p {
            margin-bottom: 15px;

            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }

        cite {
            font-size: 14px;
            font-weight: 700;

            position: absolute;
            right: 0;
            top: 100%;
            margin-top: 5px;
        }

        cite {
            display: block;
            margin-top: 10px;
            font-size: 14px;
            color: rgba(#000000, 0.7);
        }
    }

    /* Tables */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 30px;

        th,
        td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f0f0f0;
            font-weight: bold;
        }

        tr:nth-child(odd) {
            background-color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f5f5f5;
        }
    }

    /* Headings */
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 24px;
    }

    h6 {
        font-size: 24px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    /* Paragraphs */
    p {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    /* Lists (ul) */
    ul {
        line-height: normal;
        padding-left: 0;
        margin-top: 15px;
        margin-bottom: 30px;

        li {
            font-size: 16px;
            position: relative;
            padding-left: 17px;
            list-style: none;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
                width: 6px;
                height: 6px;
                background-color: #3c79ff;
                border-radius: 20px;
            }
        }
    }

    /* Responsiveness */
    @media (max-width: 767px) {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 30px;
        }

        p {
            font-size: 14px;
        }

        ul li {
            font-size: 14px;
        }
    }
}
